RewriteEngine On
RewriteRule ^blog/([a-zA-Z0-9-]+)$ blog.php?slug=$1 [L]
RewriteRule ^trafik$ trafik.php [L]
RewriteRule ^admin$ admin.php [L]
RewriteRule ^form$ form.php [L]
RewriteRule ^products$ products.php [L]
